div.sidebar {
    position: fixed;
    width: 50%;
    height: 100%;

    background: yellow;
    margin-left: 1050px;
    margin-top: -23px;

}

div.sidebar-1 {
    position: fixed;
    width: 15%;
    height: 100%;
    margin-top:20px;
    background: white;
    margin-left: -1%;
}

.row {
    margin-left: 230px;
}

h5 {
    color: red;
}

.row2 {
    margin-left: 666px;
    margin-top: -300px;
}
.you{
margin-left:1000px
}
.id{
    width:28px;
    background-color: red;
    height: 300px;
    margin-top: 100px;
}
.vericaltext {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    margin-top: 100px;
    transform: rotate(-180deg);
}